# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
# Your code here
import pandas as pd

# Loading df
data_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(data_url)

In [2]:
# Modify and check
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('st', 'state')
df.columns

Index(['custateomer', 'state', 'gender', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [4]:
# Your code here - let's go one by one based on the hints
# gender columns
df['gender'] = df['gender'].str.lower().replace({'f': 'f', 'm': 'm', 'femal': 'f', 'male': 'm', 'female': 'f'})

# state abbreviations with
state_mapping = {
    'az': 'arizona', 'cali': 'california', 'wa': 'washington'
}
df['state'] = df['state'].str.lower().replace(state_mapping)

# education
df['education'] = df['education'].str.lower().replace({'bachelors': 'bachelor'})

# 'customer_lifetime_value' - please check there is a typo in the column names
df['custateomer_lifetime_value'] = df['custateomer_lifetime_value'].str.replace('%', '', regex=True)

# vehicle_class
vehicle_mapping = {
    'sports car': 'luxury', 'luxury suv': 'luxury', 'luxury car': 'luxury'
}
df['vehicle_class'] = df['vehicle_class'].str.lower().replace(vehicle_mapping)

In [5]:
df.head()

,custateomer,state,gender,education,custateomer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,washington,NaN,master,NaN,0.0,1000.0,1/0/00,Personal Auto,four-door car,2.704934
1,QZ44356,arizona,f,bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,four-door car,1131.464935
2,AI49188,nevada,f,bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,two-door car,566.472247
3,WW63253,california,m,bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,suv,529.881344
4,GA49547,washington,m,high school or below,536307.65,36357.0,68.0,1/0/00,Personal Auto,four-door car,17.269323

FIRST LET'S CHANGE THE WRONG WORDING

In [10]:
# Rename the 'custateomer_lifetime_value' column to 'customer_lifetime_value'
df = df.rename(columns={'custateomer_lifetime_value': 'customer_lifetime_value'})

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
# Your code here
# 'customer_lifetime_value' to numeric data
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')

# 'number_of_open_complaints' to numeric data
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]
df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')
print(df.dtypes)

I HAVE ISSUES WITH THIS CODE - NOT SURE WHY - SO I DECIDED TO TO CHECK IF THE DATA TYPE OF OPEN COMPLAINGS WAS AN OBJECT BEFORE ATTEMPTING TO CONVERT IT

In [14]:
if df['number_of_open_complaints'].dtype == 'object':
    # i will then split and convert to numeric if the data type is 'object' (string)
    df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]
    df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')

# customer_lifetime_value'to a numeric data type
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')
print(df.dtypes)

custateomer                   object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using `applymap()`.

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

In [15]:
# Your code here
null_counts = df.isnull().sum()
null_counts

custateomer                  2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

In [ ]:
# i have decided fill null values in numerical columns with the mean

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

In [16]:
numerical_columns = df.select_dtypes(include='number')
df[numerical_columns.columns] = df[numerical_columns.columns].fillna(df[numerical_columns.columns].mean())


Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

In [17]:
# any left null values?
remaining_null_counts = df.isnull().sum()
remaining_null_counts

custateomer                  2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value         0
income                          0
monthly_premium_auto            0
number_of_open_complaints       0
policy_type                  2937
vehicle_class                2937
total_claim_amount              0
dtype: int64

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [18]:
# Your code here
# any duplicate rows?
duplicate_counts = df.duplicated().sum()
duplicate_counts

2936

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

In [ ]:
# I dedice to drop all duplicate rows


Implement your chosen strategy using the `drop_duplicates()` function.

In [20]:
df = df.drop_duplicates()

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

In [21]:
remaining_duplicate_counts = df.duplicated().sum()
remaining_duplicate_counts

0


Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

In [ ]:
# i watned to maintain a dataset with unique entries. I want to ensure only unique records remain

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [22]:
# Your code here
import pandas as pd

def rename_columns(df):
    # logic for renaming
    df = df.rename(columns={'custateomer_lifetime_value': 'customer_lifetime_value'})
    return df

def handle_null_values(df):
    # null value logic
    numeric_columns = df.select_dtypes(include='number')
    df[numeric_columns.columns] = df[numeric_columns.columns].fillna(df[numeric_columns.columns].mean())
    return df

def handle_duplicates(df):
    # duplicate handling
    df = df.drop_duplicates()
    df = df.reset_index(drop=True)
    return df

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.

In [24]:
# Your code here
claim_lifetime_stats = df[['total_claim_amount', 'customer_lifetime_value']].describe()
claim_lifetime_stats

       total_claim_amount  customer_lifetime_value
count         1072.000000             1.072000e+03
mean           404.986909             7.936903e+05
std            292.890427             6.422756e+05
min              0.382107             2.004351e+05
25%            202.509051             4.054051e+05
50%            354.964564             5.888346e+05
75%            532.800000             8.937675e+05
max           2893.239678             5.816655e+06


To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.

In [25]:
# 75th percentile for total claims
claim_amount_75th_percentile = df['total_claim_amount'].quantile(0.75)

# 25th percentile for CLTV
clv_25th_percentile = df['customer_lifetime_value'].quantile(0.25)

In [26]:
# df filtering with custoemers with high policy claim aoung and low CLTV
high_claim_low_clv = df[
    (df['total_claim_amount'] > claim_amount_75th_percentile) &
    (df['customer_lifetime_value'] < clv_25th_percentile)
]

Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [27]:
filtered_stats = high_claim_low_clv[['total_claim_amount', 'customer_lifetime_value']].describe()
filtered_stats

       total_claim_amount  customer_lifetime_value
count           40.000000                40.000000
mean           723.776577            341577.910000
std            149.280606             56921.472027
min            537.600000            228759.690000
25%            633.378846            304220.875000
50%            685.284189            365995.370000
75%            799.200000            387364.700000
max           1185.988301            402381.440000